.card{display: flex;flex-direction: column;width:300px;background-color: #f1f1f1;padding: 10px;
    /*justify-content: space-around;*/
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.card-img{height: 200px;background-color:white;margin: auto;}
.details{padding: 5px;margin-left:1.2em;}
.actions-card{display: flex;justify-content: space-around;margin: auto;}
.actions-card .btn{
    border:none;
    outline: none;
    padding: 10px 15px 10px 15px;
    width:auto;
    margin-left: 2px;
    background-color: #283747;
    border-radius: 5px;
    color: white;
    font-size: 1em;
}
.btn:focus{background-color: #617891;}
.actions-card{height:40px;margin-bottom: 1px;}
.actions-card .btn:hover{
    cursor: pointer;
    background-color: #617891;
}
img{width:auto;height:auto;border-radius: 5px;}
.actions-card .btn a{text-decoration: none;color: white;}
.view-product img:hover{filter: brightness(60%);}