.cart{
    width:55vw;
    display: flex;
    height:200px;
    background-color: rgb(231, 231, 231);
    margin-top: 11px;
    margin-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
    border-radius: 5px;
    padding: 3px 3px 3px 11px;
}
.img{
    width: 260px;
    background-color: rgb(2, 44, 61);
    height:90%;
    margin-top: 8px;
    margin-left:3px;
}
img{height:100%;width: 180px;

}

.name{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 8px;
    width: 100%;
}
.price,.quantity,.actions{
    margin-top: 15px;
    width:25%
}
.quantity input{
    width:30px;
    border-radius: 5px;
    text-align: center;
}
.btn-danger{
    background-color: tomato;
    border: none;
    outline: none;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    cursor: pointer;   
}
.btn-danger:hover,.btn-danger:focus{background-color:rgb(192, 119, 106) ;}
.btn-danger:focus{border:1px solid white}
input[type="number"]{
    padding: 5px 15px 5px 15px;
    font-size: 1em;
}
