.nav-bar{
    box-sizing: border-box;
    height:55px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 0 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width:100%;
    position: fixed;
    top:0;
}
.nav-bar  a{color:black;
    text-decoration: none;}
li{list-style: none;font-size: 1.4em;}
.cart-icon{
    position: relative;
}
.cart-icon::after{
   content: attr(data-total);
   color:white;
   text-align: center;
   display: block;
   width:25px;
   height:25px;
   line-height: 25px;
   font-size: 80%;
   background-color: red;
   border-radius: 50%;
   position: absolute;
  transform: translateY(-50px) translateX(25px);

}
.icon{height: 45px;width: 45px;}