.product-detail{
    width:55vw;
    margin: auto;
    height:350px;
    background-color: #ececec;
    display: flex;
    margin-top: 80px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
    padding: 3px 45px 3px 45px;
    border-radius: 3px;
}
.prod-img{
    flex-basis: 300px;
}
.prod-img img{height:300px;width:300px}
.detail{
    flex: 1 1 0px;
    padding: 10px 15px;

}
.detail p{overflow-y:auto;height:200px}
.right{flex-basis: 2fr;
        display:flex;
        height:350px;
        flex-direction: column;
        margin-top: 45px;
        justify-content: center;
   }
 .right div{margin:0 auto 11px auto;}  

.btn{
    border:none;
    outline: none;
    padding: 10px 15px 10px 15px;
    width:auto;
    margin-left: 2px;
    background-color: #283747;
    border-radius: 5px;
    color: white;
    font-size: 1em;
}
.suggestions{display: flex;
            bottom: 10px;position:absolute;
            width:65vw;margin-left:15%;
            flex-direction: column;
          
}
.qt input{width:40px;border:2px solid gray;outline:none;border-radius: 5px;}
.qt span{font-weight: 530;}
.suggestions .body{display: flex;justify-content: center;}