
*{margin:0;padding:0;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
body{background-color: #ffffff;margin: 0;}
.btn:hover{
    cursor: pointer;
    background-color: #384e66;
}