.container{display: grid;grid-template-columns: repeat(4,auto);justify-content:center;grid-auto-rows: 1fr;
    grid-row-gap:0.8em;
    grid-column-gap:0.8em;
    margin-top: 20px;
}
select{height: 35px;padding:0px 15px 0 15px;margin-left: 15px;border-radius: 5px;border-color: gray;font-weight: 540;border-width: 2px;}
.home-page{
    display: flex;
    flex-direction: column;
}
.home-page .actions-home{margin:60px auto 0 auto}
