.shopping-cart{
    display:flex;
    flex-direction: column;
    margin-left: 20vw;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width:55vw;
    align-items: center;
    margin-top: 65px;

}
.infos{display: flex;font-weight: bold;font-size: 1.2em;text-transform: capitalize;font-family: Segoe UI;width:100%}
.prod-name{
    width:550px;
    justify-self:flex-start;
}
.prod-price,.prod-qt{
    width:100px;
}

.loading{
    width:100%;
    height: 350px;
    background-color: rgb(240,240,240);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    flex-direction: column;
}
.loading h2{
    font-weight: 180;
}
/*.total{float: right;}*/
